<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:sharedUserId="android.uid.networkstack" android:versionCode="299900000" android:versionName="2019-09" android:compileSdkVersion="29" android:compileSdkVersionCodename="10" package="com.android.networkstack.permissionconfig" platformBuildVersionCode="29" platformBuildVersionName="10">
    <uses-sdk android:minSdkVersion="29" android:targetSdkVersion="29"/>
    <permission android:name="android.permission.MAINLINE_NETWORK_STACK" android:protectionLevel="signature"/>
    <application android:name="com.android.server.NetworkPermissionConfig" android:extractNativeLibs="true" android:usesNonSdkApi="true"/>
</manifest>
